ZarinpalWebGate/Web References/zarinpal/PaymentGatewayImplementationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://zarinpal.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" name="PaymentGatewayImplementationService" targetNamespace="http://zarinpal.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://zarinpal.com/">
      <s:element name="PaymentRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MerchantID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CallbackURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Authority" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentVerification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MerchantID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Authority" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentVerificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RefID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PaymentRequestSoapIn">
    <wsdl:part name="parameters" element="tns:PaymentRequest" />
  </wsdl:message>
  <wsdl:message name="PaymentRequestSoapOut">
    <wsdl:part name="parameters" element="tns:PaymentRequestResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentVerificationSoapIn">
    <wsdl:part name="parameters" element="tns:PaymentVerification" />
  </wsdl:message>
  <wsdl:message name="PaymentVerificationSoapOut">
    <wsdl:part name="parameters" element="tns:PaymentVerificationResponse" />
  </wsdl:message>
  <wsdl:portType name="PaymentGatewayImplementationServicePortType">
    <wsdl:operation name="PaymentRequest">
      <wsdl:input message="tns:PaymentRequestSoapIn" />
      <wsdl:output message="tns:PaymentRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PaymentVerification">
      <wsdl:input message="tns:PaymentVerificationSoapIn" />
      <wsdl:output message="tns:PaymentVerificationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentGatewayImplementationServiceBinding" type="tns:PaymentGatewayImplementationServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PaymentRequest">
      <wsdl:documentation>Payment request session creation should be done by using this method.</wsdl:documentation>
      <soap:operation soapAction="https://de.zarinpal.com/pg/services/WebGate/service#PaymentRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentVerification">
      <wsdl:documentation>Payment verification should be done by using this method.</wsdl:documentation>
      <soap:operation soapAction="https://de.zarinpal.com/pg/services/WebGate/service#PaymentVerification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentGatewayImplementationService">
    <wsdl:port name="PaymentGatewayImplementationServicePort" binding="tns:PaymentGatewayImplementationServiceBinding">
      <soap:address location="https://de.zarinpal.com/pg/services/WebGate/service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>